.weatherCard {
    text-align: center;
    width: 100%;
}

.location h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.location p {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
}

.mainData {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.temp {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.iconContainer p {
    text-transform: capitalize;
}