.container {
    height: 25em;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid white;
}

.todaydate {
    background-color: #9CA48D;
    padding: 0.5em;
    border-radius: 20px;
}

.currentIcon {
    border: none;
}

.location {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.place {
    font-size: 15px;
}

.temperature {
    font-size: 30px;
}

@media only screen and (min-width: 1024px) {
    .currentIcon {
        height: 5em;
        width: 5em;
    }
}

@media only screen and (min-width: 2400px) {

    .currentIcon {
        height: 8em;
        width: 8em;
    }

    .todaydate {
        font-size: 25px;
    }

    .container {
        height: 40em;
    }

    .place {
        font-size: 25px;
    }

    .temperature {
        font-size: 40px;
    }
}