.searchmodule {
    height: 7em;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date {
    font-size: 10px;
}

.inputField {
    width: 10em;
    height: 2em;
    border: none;
    background-color: #9CA48D;
    border-radius: 10px;
}

.inputField:active {
    border: 1px solid white;
}